<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Payday Pizza</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li routerLinkActive="active"><a routerLink="/pizza-of-the-week"><span class="glyphicon glyphicon-star"></span> Pizza of the Week</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/about"><span class="glyphicon glyphicon-user"></span> About</a></li>
      <li routerLinkActive="active"><a routerLink="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
    </ul>
  </div>
</nav>
